// colors
$primary-color: #f5b700;
$primary-color-hover: #f5b8007c;
$secondary-color: #885a89;
$secondary-color-hover: #885a89ac;
$accent-color: #8aa8a1;
$accent-color-dark: #4c5f5b;

// text colors
$primary-text-color: #232323;
$secondary-text-color: #f0d2d1;

// background-colors
$primary-background-color: #f0d2d1;

// border radius
$br-sm: 8px;
$br-md: 10px;
$br-lg: 16px;
