body{
    background-image: url(https://img3.fonwall.ru/o/rg/sky-horizon-sunrise-cloud.jpeg?auto=compress&amp;fit=resize&amp;w=1200&amp;display=large);
}

h1{
    margin-left: 1200px;
}

.input-signin{
    border-radius: 40px;
}